/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#loader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
    transition: all 0.6s ease-out;
    width: 100%;
    height: 100vh;
}

#loader:before,
#loader:after {
    content: "";
    position: absolute;
    border: 4px solid var(--color-primary);
    border-radius: 50%;
    -webkit-animation: animate-loader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: animate-loader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#loader:after {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

@-webkit-keyframes animate-loader {
    0% {
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
        opacity: 1;
    }

    100% {
        width: 72px;
        height: 72px;
        top: calc(50% - 36px);
        left: calc(50% - 36px);
        opacity: 0;
    }
}

@keyframes animate-loader {
    0% {
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
        opacity: 1;
    }

    100% {
        width: 72px;
        height: 72px;
        top: calc(50% - 36px);
        left: calc(50% - 36px);
        opacity: 0;
    }
}


@font-face {
    font-family: 'BAHNSCHRIFT.TTF';
    url('../fonts/BAHNSCHRIFT.TTF') format('truetype'),
}
.pah{
    font-family: 'BAHNSCHRIFT.TTF';
}
.max-w970{
    max-width: 970px;
}

@font-face {
    font-family: 'AlmaraiRegular';
    src: url('../fonts/AlmaraiRegular.eot');
    src: url('../fonts/AlmaraiRegular.eot') format('embedded-opentype'),
    url('../fonts/AlmaraiRegular.woff2') format('woff2'),
    url('../fonts/AlmaraiRegular.woff') format('woff'),
    url('../fonts/AlmaraiRegular.ttf') format('truetype'),
    url('../fonts/AlmaraiRegular.svg#AlmaraiRegular') format('svg');
}

@font-face {
    font-family: 'AlmaraiBold';
    src: url('../fonts/AlmaraiBold.eot');
    src: url('../fonts/AlmaraiBold.eot') format('embedded-opentype'),
    url('../fonts/AlmaraiBold.woff2') format('woff2'),
    url('../fonts/AlmaraiBold.woff') format('woff'),
    url('../fonts/AlmaraiBold.ttf') format('truetype'),
    url('../fonts/AlmaraiBold.svg#AlmaraiBold') format('svg');
}
:root {
    --color-light: #F8F8F8;
    --color-light2: #E3F1F8;
    --color-secondary: #47747A;
    --color-black: #121212;
    --color-p: #2F3749;
    --color-title: #111111;
    --color-title2: #414141;
    --color-success: #3bad35;
    --color-primary: #2669b5;
    --color-white: #ffffff;
    --color-warning: #F2A546;
    --color-dark: #122D3F;
    --color-hover: #9bbf0a;
}
.border-success{
    border-color: var(--color-success)!important;
}
body {
    font-family: AlmaraiRegular, Cairo;
}
p{
    font-size: 15px;
}
body.bg-black {
    color: var(--color-white);
}

h1, h2, h3, h4 {
    color: var(--color-title);
}
.rounded-2 {
    border-radius: 0.6rem!important;
}
.rounded-3 {
    border-radius: 0.9rem !important;
}
.text-danger {
    color: #e1674a!important;
}
.z-index40 {
    z-index: 40;
}

.fs-12p {
    font-size: 12px;
}

.fs-45p {
    font-size: 45px;
}

.fs-80p {
    font-size: 80px;
}

.top-0 {
    top: 0;
}
.left-0{
    left: 0;
}
.bg-light{
    background-color: var(--color-light) !important;
}
.bg-light2{
    background-color: #D2EEF2 !important;
}
.pointer{
    cursor: pointer;
}
.bg-black{
    background-color: var(--color-black) !important;
}
.btn-danger{
    background-color: #F8001B !important;
}
.btn-dark{
    background-color: var(--color-dark)!important;
}
.btn-dark:hover{
    background-color: var(--color-primary)!important;
    border-color: var(--color-primary)!important;
}
.btn-success{
    background-color: var(--color-success)!important;
    border-color: var(--color-success)!important;
}
.btn-success:hover{
    background-color: #47B04B!important;
    border-color:  #47B04B!important;
}
.btn-danger:hover{
    background-color: var(--color-hover) !important;
    border-color: var(--color-hover) !important;
}
.bg-secondary{
    background-color: var(--color-secondary) !important;
}
.bg-success {
    background-color: var(--color-success)!important;
}
.text-secondary{
    color: var(--color-secondary) !important;
}
.bg-primary{
    background-color: var(--color-primary) !important;
}
.btn-primary:hover{
    background-color: var(--color-hover) !important;
}
.btn-outline-primary {
    color: var(--color-primary);
    border-color: var(--color-primary) ;
}
.btn-outline-primary:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.bg-warning {
    background-color: var(--color-warning) !important;
}
.btn-warning {
    background-color: var(--color-warning) !important;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.cover{
   object-fit: cover;
}
.btn-warning:hover {
    background-color: var(--color-hover) !important;
}
.text-white {
    color: var(--color-white) !important;
}
.text-secondary {
    color: var(--color-secondary) !important;
}
.mw-700p {
    max-width: 700px;
}
.mw-800p {
    max-width: 800px;
}
.nav-link {
    transition: .4s;
}
.w-90{
    width: 90%;
}
.text-p {
    color: var(--color-p);
}
.text-primary {
    color: var(--color-primary) !important;
}
.btn-primary {
    color: #fff;
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: var(--color-hover) !important;
    border-color: var(--color-hover) !important;
}
.h-130p{
    width: 130px;
}
section {
    padding-top: 70px;
}
section:first-of-type {
    padding-top: 0;
}
.layout{
    position: relative;
}
.layout:after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #00000069;
    z-index: 1;
}
.h-73p{
    height: 73px;
}
.h-140p{
    height: 140px;
}
header .header-top ~ .h-140p{
    height: 180px;
}
main{
    min-height: 25vh;
    margin-bottom: 20px;
}
textarea{
    resize: none;
}
[dir="rtl"] [type=email],[dir="rtl"] [type=number],[dir="rtl"] [type=tel],[dir="rtl"] [type=url]{
    direction: rtl;
}
@media (max-width: 575.98px) {
    h4, .h4{
        font-size: 18px;
    }
    a.btn{
        font-size: 12px;
    }
}
/**********   start header   ************************************************/
header{
    background: var(--color-dark) url("../images/bg-img-1.png");
    min-height: 73px;
}
header .border-bottom{
    background: var(--color-primary) url("../images/bg-img-1.png");
    min-height: 73px;
}
header .navbar-nav .nav-item{
    border-radius: 10px 10px 0 0;
}
.navbar-nav .nav-item{
      transition: .4s;
}
.navbar-nav .nav-item.active, .navbar-nav .nav-item:hover{
    background:var(--color-hover);
    color: #fff;
    border-right: 10px solid #FFFFFF;
}
.navbar-nav .nav-item.active, .navbar-nav .nav-item:hover i{
    color: #fff;
}
.navbar-nav .nav-item.active a.nav-link, .navbar-nav .nav-item:hover a.nav-link{
    color: #fff !important;
}

@media (max-width: 991.98px) {
    header .navbar-nav .nav-item.active,header .navbar-nav .nav-item:hover{
        border-radius: 8px;
    }
    header .our-btn {
        display: inline-block;
        cursor: pointer;
        padding-top: 0;
        position: absolute;
        width: 30px;
        top: 0;
        left: 16px;
        height: 30px;
    }
    header .form-control:focus {
        box-shadow: none;
    }
    header .our-btn.close {
        padding-top: 0;
        top: -2px;
    }
    header .the-bar {
        display: block;
        width: 100%;
        height: 3.5px;
        margin-bottom: 5px;
        background: #fff;
        transition: .5s;
    }
    header .close .the-bar:first-Child {
        transform: rotate(-45deg) translate(-12px, 12px);
    }
    header .close .the-bar:nth-Child(2) {
        opacity: 0;
    }
    header .close .the-bar:last-Child {
        transform: rotate(45deg) translate(0);
    }
    .navbar-collapse{
        width: 65%!important;
        position: fixed;
        right: 0;
        top: 0;
        background: var(--color-primary) url("../images/bg-img-1.png");
        display: block;
        padding-top: 5px;
        z-index: 109;
        height: 100vh;
        box-shadow: 0 0 15px #000;
    }
    .ftco-navbar-light .navbar-nav{
       height: 100vh;
        overflow-y: auto;
    }
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link{
        color: #fff!important;
    }
    .navbar-collapse{
        transition: .5s;
    }
    .navbar-collapse.collapse:not(.show){
        display: block;
        right: -100%;
    }
    .overlaymnu .our-btn{
        position: fixed;
        background: #000;
        height: 120%;
        width: 100%;
        z-index: 11;
        top: 0;
        left: 0;
        cursor: context-menu !important;
        display: none;
        opacity: .6;
    }
    .overlaymnu .our-btn:hover{
        opacity: .6 !important;
    }
    body.overflow-hidden header{
       z-index: 10!important;
    }
    /*end menu phon*/
}

@media (max-width: 767.98px) {
    header p{
        font-size: 11px;
    }
    .h-460p {
        height: 340px;
    }
    p{
        font-size: 11px;
    }
    .breadcrumb .breadcrumb-item .text-p,
    .breadcrumb .breadcrumb-item span{
        font-size: 11px!important;
    }
    button.btn {
        font-size: 11px;
    }
    .navs-o.nav .nav-item{
        font-size: 12px;
    }
    .navs-o.nav img{
        width: 20px;
    }
    .e404 img{
       width: 220px;
    }
}

.nav-tabs .nav-item:hover .nav-link,.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--color-p);
    background-color: var(--color-light2);
    border-color: var(--color-light2);
}
td div,th div{
      white-space: nowrap;
}
td,th{
      vertical-align: center;
}
.min-h-40p{
    min-height: 40px;
}
.table-os{
    background: #fff;
    border-radius: 5px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
/*
.container-fluid {
    max-width: 1360px;
}
*/
.img-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 120px;
    height: 120px;
    overflow: hidden;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid var(--color-primary);
}
.title-a3wg{
    margin-top: -50px;
    position: relative;
    z-index: -1;
}
.mt-n4 {
    margin-top: -1.5rem;
}
.card-icon img{
    width: 90px;
    height: 90px;
    margin-top: -45px;
    border-radius: 50%;
    border: 8px solid var(--color-primary);
}
.hover{
    transition: .4s;
}
.hover:hover{
    transform: translateY(-3px);
}
.h-50p{
    height: 50px;
}
        .select2-container--default{
            width: 100% !important;
        }
        .select2-container .select2-selection--single{
            height: 36px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #444;
            line-height: 36px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow b{
            margin-top: 2px;
        }
        .select2-container--default .select2-search--dropdown .select2-search__field{
            outline: 1px solid var(--color-primary);
            border-radius: 5px;
        }


.sidbar {
        background: var(--color-dark) url("../images/bg-img-1.png");
}
.sidbar .navbar .navbar-nav {
    overflow-y: auto;
    padding: 10px 5px;
    height: calc(100vh - 81px);
}


/* width */
.sidbar .navbar .navbar-nav::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sidbar .navbar .navbar-nav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0;
}

/* Handle */
.sidbar .navbar .navbar-nav::-webkit-scrollbar-thumb {
  background: #FFD016;
  border-radius: 0;
}

/* Handle on hover */
.sidbar .navbar .navbar-nav::-webkit-scrollbar-thumb:hover {
  background: #9a8836;
}



@media (max-width: 767.98px) {
    .card-title.h-50p{
        height: 40px;
    }
    .card-icon img{
        width: 60px;
        height: 60px;
        margin-top: -30px;
        border: 4px solid var(--color-primary);
    }
    .title-a3wg{
        margin-top: 0;
    }
    h5.card-title,h5{
        font-size: 16px;
    }
}
